@import 'tailwindcss';

@theme {
  /* Background and Foreground Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Spaciing */
  --spacing-xyz: 79rem;
  --spacing-xyz-lg: 66.375rem;
  --spacing-release-doc: 48rem;
  --spacing-padding: 1rem;

  /* Fonts */
  --font-tektur: Tektur, "Tektur Fallback"; 
  --font-geist: "Geist Mono", "Geist Mono Fallback"; 
  --font-grotesk: var(--font-space-grotesk); 
  --font-nunito: 'Nunito Sans', 'Nunito Sans Fallback'; 
  --font-jetbrains: 'JetBrains Mono', 'JetBrains Mono Fallback'; 

  /* Text shadow */
  --text-shadow-sm: 1px 1px 1px rgba(0, 0, 0, 0.4);

  --shadow-blog-card: 0px 3px 6px 0px #00000014, 0px 11px 11px 0px #00000012, 0px 24px 15px 0px #0000000A, 0px 44px 17px 0px #00000003,  0px 68px 19px 0px #00000000;

  /* Colors */
  --color-blue-500: #2791FC;

  --color-green-500: #0BDF7F;

  --color-gray-50: #f6f6f6;
  --color-gray-100: #eaeaea;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #b4b4b4;
  --color-gray-350: #929292;
  --color-gray-400: #828282;
  --color-gray-600: #525151;
  --color-gray-700: #323232;
  --color-gray-800: #2b2b2b;
  --color-gray-900: #1f1f1f;

  --color-slate-700: #37414B;


  --color-black-light: #101010;
  --color-gray-light: #dddddd;
  
  --color-orange-400: #F15C07;
  --color-orange-500: #FF6A2A;
}
